{{- /*
A simple template with a configurable Subject - for use in tests.
The Subject is used to identify which test the draft came from.
*/ -}}
To: {{ .To }}
Subject: {{ .Subject }}

Hello world!

-- 
Author
